* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 600px) {
    
    }

body{
margin: auto;
display: inline;
margin-left: 10%;
width: 100%;
}

#container{
    width: 100%;
    margin: auto;
}
